@model TwinsModel
@{
    ViewData["Title"] = "Home Page";
}
<div class ="text-center">
    <h1>Temperature</h1>
</div>
<div class="text-center">
    <h1 class="display-4">@Model.Temperature &deg;C</h1>
</div>
